.main-box{
	height: 400px;
	width: 600px;
	margin: 100px auto 0 auto;
}

.logo img{
	height: 100%;
	width: 120%;
	margin-left: -35px;
	vertical-align: middle;
}

.left-box{
	width: 340px;
	height: 400px;
	background-color: b9bdc4;
	clear: both;
	float: left;
	box-shadow: 0 0 5px 1px #787f8a;
	border-radius: 3px;
}

.right-box{
	width: 250px;
	height: 400px;
	background-color: b9bdc4;
	margin: 0 auto 0 10px;
	float: right;
	box-shadow: 0 0 5px 1px #787f8a;
	border-radius: 3px;
}

.login{
}

.signup{
}

.form-group input{
	display: inline-block; 
	width: 150px; 
	margin-top: 5px;
}

.form-button {
	margin-top: 10px;
}

label { 
	display: inline-block; 
	width: 90px; 
}

body{
	background-color: 1a56bb;
}