.main-box{
	background-color: red;
	height: 400px;
	width: 600px;
	margin: 100px auto 0 auto;
}

.logo img{
	height: 100%;
	width: 120%;
	margin-left: -35px;
}

.left-box{
	width: 340px;
	height: 400px;
	background-color: green;
	clear: both;
	float: left;
}

.right-box{
	width: 250px;
	height: 400px;
	background-color: yellow;
	margin: 0 auto 0 10px;
	float: right;
}

body{
	
}