/*General styling of some tags*/
body {
    background-color: #1A56BB !important;
}

a.menu{
    color:black;
}

h3{
	text-align: center;
	font-size: 120%;
	margin-top: 2%;
	margin-bottom: 1%;
	font-weight: 700;
}
/*End of the general tag styling*/

/*styling below sets up the different boxes*/
#alert {
    margin: 2% auto 0 auto;
    display: none;
    background-color: #9F6000;
    min-width: 300px;
}

#alertMessage {
    margin: 5px auto;
    padding-top: 5px;
    text-align: center;
}

#main-box{
	padding-left: 0;
	padding-right: 0;
}

#left-box{
	background-color: #b9bdc4;
	clear: both;
	float: left;
	box-shadow: 0 0 5px 1px #787f8a;
	border-radius: 3px;
	min-width: 300px;
	margin-top: 2%;
}

#right-box{
	padding-left: 0;
	padding-right: 0;
	margin-top: 2%;
}

#login{
	margin-top: 5%;
	background-color: #b9bdc4;
	float: left;
	box-shadow: 0 0 5px 1px #787f8a;
	border-radius: 3px;
	min-width: 300px;
	padding-bottom: 1%;
}

#signup{
	min-width: 300px;
	background-color: #b9bdc4;
	/*margin: 0 auto 0 0;*/
	float: left;
	box-shadow: 0 0 5px 1px #787f8a;
	border-radius: 3px;
}

#smiley-box{
	background-color: #b9bdc4;
	box-shadow: 0 0 5px 1px #787f8a;
	border-radius: 3px;
	min-width: 300px;
}

#tab-box-logo{
	background-color: #b9bdc4;
	box-shadow: 0 0 5px 1px #787f8a;
	border-radius: 3px;
	min-width: 300px;
	margin-top: 3%;
}
/*End of box styling*/

/*Logo styling in the different views*/
.img-responsive{
	max-width: 100%;
	height:auto;
	vertical-align: middle;
}

#tab-box-logo img{
	max-width:100% !important;
}
/*End of logo styling*/

/*Styling related to forms*/
form#sign-up{
	margin-bottom: 7px;
	margin-left: 5px;
}

form#log-in.form-inline{
	margin-bottom: 7px;
}

.form-control.login-input{
	width:100% !important;
}

input#login-button{
	width:100%;
	margin-top:16px;
}

label.control-label{
	margin-right: 5%;
}

.form-group input{
	display: inline-block;
	width: 65%;
	margin-right: 2%;
	float: right;
}

#refresh-mine input, #post-mine input, #refresh-their input, #post-their input, #change-pwd input{
	width:100%;
	max-width: 255px;
	float:right;
	margin-right: 0;
	margin-top: 1%;
	margin-bottom: 1%;
}

input.form-button {
	float: right;
	margin-top: 5px;
	margin-right: 40px;
	margin-bottom: 5px;
}
/*End of form styling*/


/*Styling to determine which tab that is active.
Javascript is used to change the style of these elements*/
#home{  display: block;  }

#browse{  display: none;  }

#account{  display: none;  }

#stats{  display: none;  }
/*Tab styling ends here*/

/*Styling for the user information in home and browse*/
ul#personal-info, ul#personal-info2{
	list-style: none;
	float: right;
}

.form-group p{
	display: inline-block;
	width: 145px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
}

p#show-name, p#show-name2{
	margin-bottom: 1px;
	text-align: center;
	margin-top: 5px;
	font-weight: 700;
}

label.personal-info{
	width: 60px;
}
/*End of user information styling*/

/*Search field styling in browse*/
#search-field{
	margin-top: 5px;
}

label#search-label{
	width: 27%;
}

input#view-user-button{
	width:100%;
}

input#user-email{
	width:70%;
    float:right;
    margin-bottom: 1%;
}

form#browse-form{
	margin-bottom: 1px;
}
/*End of search field styling*/

/*Styling of the walls in home and browse*/
#post-to-wall p, #post-to-user-wall p{
	text-align: center;
	margin-bottom: 2px;
	margin-top: 5px;
	font-weight: 700;
}

#post-to-wall textarea, #post-to-user-wall textarea{
	display: block;
	resize: none;
	float:right;
}

#message-wall textarea, #user-message-wall textarea{
	display: block;
	resize: none;
	float:right;
}
/*End of wall styling*/

/*Styling in the account tab*/
#account p{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 700;
}

label.pwd-label{width: 32%;}
/*End of account tab styling*/

/*Styling for data visualization*/
.canvas-holder{
    width: 50% !Important;
    padding: 2%;
}

#canvas-holder3{
    width: 80% !Important;
}
/*End of data visualization styling*/